In [2]:
import pandas as pd

In [3]:
data = {'Age':[25,30,40,22],
    'Income':[30000,45000,60000,25000],
    'Loan_Approval':[1,0,1,0]}

df = pd.DataFrame(data)
df

   Age  Income  Loan_Approval
0   25   30000              1
1   30   45000              0
2   40   60000              1
3   22   25000              0