In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
data =[10,20,30,40,50]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
data =[10,20,30,40,50]
custom_index= ['A','B','C','D','E']
series = pd.Series(data, index=custom_index)
series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [7]:
series['D']

40

In [8]:
series['D']

40

In [9]:
data = {
    'Name' : ['A','B','C','D'],
    'Age' : [20,21,22,23],
    'City' : ['E','F','G','H']
}

In [10]:
df = pd.DataFrame(data)
df

  Name  Age City
0    A   20    E
1    B   21    F
2    C   22    G
3    D   23    H

In [11]:
df[['Name','Age','City']]

  Name  Age City
0    A   20    E
1    B   21    F
2    C   22    G
3    D   23    H

In [12]:
df.loc[0]

Name     A
Age     20
City     E
Name: 0, dtype: object